In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import sklearn

In [2]:
df = pd.read_csv("../data/train/Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
df.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [9]:
df['mainroad'].unique(), df['guestroom'].unique(), df["prefarea"].unique()

(array(['yes', 'no'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['yes', 'no'], dtype=object))

In [11]:
df['mainroad'] = df['mainroad'] == 'yes'
df['guestroom'] = df['guestroom'] == 'yes'
df['basement'] = df['basement'] == 'yes'
df['hotwaterheating'] = df['hotwaterheating'] == 'yes'
df['airconditioning'] = df['airconditioning'] == 'yes'
df['prefarea'] = df['prefarea'] == 'yes'

In [13]:
df = df.astype(
    {"mainroad": int,
     "guestroom": int,
     "basement": int,
     "hotwaterheating": int,
     "airconditioning": int,
     "prefarea": int,
     }
)

In [15]:
df['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [16]:
df['furnished'] = (df['furnishingstatus'] == 'furnished').astype(int)
df['semi-furnished'] = (df['furnishingstatus'] == 'semi-furnished').astype(int)
df['unfurnished'] = (df['furnishingstatus'] == 'unfurnished').astype(int)

In [19]:
df.drop(columns=["furnishingstatus"], inplace=True)

In [21]:
for col in list(df.columns):
    df[col] /= df[col].max()

In [22]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
0,1.000000,0.458025,0.666667,0.50,0.75,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,1.0,0.0,0.0
1,0.921053,0.553086,0.666667,1.00,1.00,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,1.0,0.0,0.0
2,0.921053,0.614815,0.500000,0.50,0.50,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.0,1.0,0.0
3,0.918421,0.462963,0.666667,0.50,0.50,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,1.0,0.0,0.0
4,0.857895,0.458025,0.666667,0.25,0.50,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,1.0,0.0,0.0

In [27]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [28]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
0,0.458025,0.666667,0.50,0.75,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,1.0,0.0,0.0
1,0.553086,0.666667,1.00,1.00,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,1.0,0.0,0.0
2,0.614815,0.500000,0.50,0.50,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.0,1.0,0.0
3,0.462963,0.666667,0.50,0.50,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,1.0,0.0,0.0
4,0.458025,0.666667,0.25,0.50,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.185185,0.333333,0.25,0.25,1.0,0.0,1.0,0.0,0.0,0.666667,0.0,0.0,0.0,1.0
541,0.148148,0.500000,0.25,0.25,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
542,0.223457,0.333333,0.25,0.25,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0
543,0.179630,0.500000,0.25,0.25,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,0.0
544,0.237654,0.500000,0.25,0.50,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0

In [29]:
y

0      1.000000
1      0.921053
2      0.921053
3      0.918421
4      0.857895
         ...
540    0.136842
541    0.132868
542    0.131579
543    0.131579
544    0.131579
Name: price, Length: 545, dtype: float64

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
reg = LinearRegression().fit(X, y)

In [32]:
reg.coef_

array([ 0.29737279,  0.05178386,  0.29704304,  0.13559338,  0.03167463,
        0.02259593,  0.02632383,  0.06431933,  0.06503446,  0.06250536,
        0.04898826,  0.01146815,  0.00798359, -0.01945173])

In [34]:
import pickle

In [35]:
# save
with open('../model/model.pkl','wb') as f:
    pickle.dump(reg,f)

In [36]:
# load
with open('../model/model.pkl', 'rb') as f:
    clf2 = pickle.load(f)

In [37]:
clf2.predict(X)

array([0.61152671, 0.79406222, 0.57342765, 0.62625582, 0.50329911,
       0.63366792, 0.73749462, 0.63507565, 0.56476968, 0.57698025,
       0.62716047, 0.62155494, 0.53733867, 0.45596812, 0.46578388,
       0.38611815, 0.55974092, 0.60763101, 0.49084051, 0.5263217 ,
       0.41096818, 0.49924657, 0.4514995 , 0.49559496, 0.54534123,
       0.61039454, 0.61449337, 0.34920471, 0.54168844, 0.54438834,
       0.55789588, 0.50235118, 0.51016813, 0.49960026, 0.48044795,
       0.5800965 , 0.58248392, 0.62543983, 0.47915544, 0.54605112,
       0.46342053, 0.57566645, 0.53963132, 0.50185178, 0.54953568,
       0.48268701, 0.54090503, 0.56831657, 0.37227204, 0.53923146,
       0.52037209, 0.44169021, 0.5721316 , 0.5426527 , 0.49221971,
       0.3679277 , 0.5141298 , 0.67618889, 0.59948571, 0.56350096,
       0.42718525, 0.4057003 , 0.48614451, 0.59206899, 0.5352554 ,
       0.55229844, 0.51409297, 0.39529656, 0.36494923, 0.59831804,
       0.48738805, 0.49778068, 0.44588831, 0.5327307 , 0.38847785,
       0.42476414, 0.54286949, 0.54433799, 0.47818546, 0.50876749,
       0.44363615, 0.45923492, 0.59712563, 0.51658535, 0.3743648 ,
       0.52747334, 0.4035673 , 0.30614222, 0.47865493, 0.56779042,
       0.35617156, 0.42379452, 0.52063823, 0.52574712, 0.48101666,
       0.48948019, 0.43029589, 0.46671523, 0.51525375, 0.42249512,
       0.47378088, 0.37660167, 0.55083823, 0.51519222, 0.48374049,
       0.38735476, 0.48873705, 0.39897821, 0.32219404, 0.51142438,
       0.42618716, 0.46620242, 0.3819249 , 0.46251195, 0.37572408,
       0.5169205 , 0.43684926, 0.36701944, 0.42713586, 0.47633535,
       0.42857033, 0.49503257, 0.45929621, 0.42009978, 0.48550765,
       0.55852071, 0.38643546, 0.46442986, 0.44616368, 0.53427593,
       0.27505192, 0.40535942, 0.39374117, 0.35896331, 0.41093376,
       0.48915003, 0.46064042, 0.31399458, 0.3900699 , 0.49030065,
       0.48547876, 0.52324317, 0.49582352, 0.44441943, 0.43253473,
       0.36241835, 0.37040312, 0.39541115, 0.39898833, 0.44481239,
       0.42914071, 0.44444689, 0.48216795, 0.43477666, 0.38228703,
       0.47215837, 0.39002382, 0.3755214 , 0.3536109 , 0.41497905,
       0.48089056, 0.48184607, 0.50130666, 0.45368155, 0.5190149 ,
       0.44391998, 0.46321798, 0.42223103, 0.38102689, 0.4356571 ,
       0.36700151, 0.42378171, 0.53072606, 0.43222445, 0.36041729,
       0.52640513, 0.43204234, 0.351825  , 0.43508998, 0.37365955,
       0.43230588, 0.45374875, 0.29531034, 0.38176403, 0.38108948,
       0.25331291, 0.45264344, 0.41777727, 0.38231042, 0.23905297,
       0.4576835 , 0.44468802, 0.38800147, 0.29385659, 0.43824175,
       0.50545309, 0.41978298, 0.40553267, 0.37357337, 0.3007717 ,
       0.37368434, 0.35680419, 0.27961347, 0.30711028, 0.30193655,
       0.3878067 , 0.3772474 , 0.34578269, 0.28777206, 0.26137634,
       0.37522895, 0.44740867, 0.478054  , 0.3663622 , 0.23556499,
       0.28218079, 0.36698785, 0.48449412, 0.3592349 , 0.32673829,
       0.55749763, 0.34502548, 0.45810917, 0.43106379, 0.47305299,
       0.40258106, 0.42708883, 0.38264242, 0.30765915, 0.52945244,
       0.33883725, 0.29374469, 0.29790827, 0.32833832, 0.41283282,
       0.41208492, 0.34131545, 0.31764449, 0.39135772, 0.29710043,
       0.33966711, 0.27614712, 0.33469149, 0.27597244, 0.39491914,
       0.36096856, 0.27905962, 0.46504605, 0.35526791, 0.47523751,
       0.29768449, 0.30984371, 0.34645059, 0.30781188, 0.39747783,
       0.32328773, 0.31793555, 0.32038143, 0.29435013, 0.3892507 ,
       0.34675227, 0.26378614, 0.27458243, 0.24051872, 0.30699465,
       0.3012099 , 0.31825917, 0.31050371, 0.36388438, 0.2435098 ,
       0.47875704, 0.24623469, 0.33084913, 0.31738802, 0.32638444,
       0.26064755, 0.25842942, 0.41682149, 0.37874927, 0.27705729,
       0.28003576, 0.34961919, 0.29412469, 0.29150424, 0.32377486,
       0.344021  , 0.2954128 , 0.33791441, 0.35579432, 0.354801  ,
       0.37274297, 0.31748463, 0.30099702, 0.19950303, 0.32399752,
       0.21035924, 0.4439249 , 0.33932173, 0.3779134 , 0.35994136,
       0.30812925, 0.31295796, 0.31501613, 0.27786896, 0.40572606,
       0.28351988, 0.3090352 , 0.3159195 , 0.32078409, 0.35804707,
       0.30164358, 0.31522478, 0.37537097, 0.34116748, 0.28571948,
       0.32465637, 0.37859821, 0.37948593, 0.24512356, 0.42998192,
       0.37279784, 0.44623924, 0.4189087 , 0.32708665, 0.34164258,
       0.33653343, 0.21656256, 0.37249944, 0.41590334, 0.27553106,
       0.33554062, 0.48789453, 0.35786567, 0.25442441, 0.30585777,
       0.36338728, 0.42048099, 0.33559955, 0.30903147, 0.34410451,
       0.38816605, 0.35745439, 0.39915897, 0.23172027, 0.22749831,
       0.31165549, 0.30225232, 0.23341381, 0.28355883, 0.28783295,
       0.33865788, 0.22290922, 0.27807879, 0.33815225, 0.33533936,
       0.36205167, 0.3872404 , 0.32784053, 0.26969472, 0.22493967,
       0.23098602, 0.27596222, 0.23465414, 0.28693486, 0.3155957 ,
       0.26035302, 0.2532683 , 0.26105905, 0.22868154, 0.22639378,
       0.34209624, 0.29121135, 0.25237775, 0.31431278, 0.3220253 ,
       0.33024362, 0.39109808, 0.34213385, 0.45335645, 0.29329454,
       0.23942993, 0.27924002, 0.28698624, 0.43632895, 0.21123986,
       0.19620816, 0.25036387, 0.34222073, 0.23892071, 0.2924252 ,
       0.25369698, 0.28140906, 0.27259719, 0.24262458, 0.23526161,
       0.28472994, 0.2444786 , 0.2894485 , 0.25002697, 0.31258064,
       0.26368192, 0.45779894, 0.23732637, 0.37562623, 0.23019151,
       0.19419212, 0.29687019, 0.32510089, 0.20281644, 0.22952626,
       0.20869363, 0.32510089, 0.29514219, 0.35728777, 0.2035507 ,
       0.42546438, 0.26934516, 0.22712804, 0.3515026 , 0.3012572 ,
       0.23891755, 0.2165837 , 0.23103649, 0.206858  , 0.25090924,
       0.28676997, 0.18682908, 0.31752637, 0.22438582, 0.26820224,
       0.20864175, 0.33028216, 0.32910079, 0.26102659, 0.27759328,
       0.2035507 , 0.31752637, 0.26679213, 0.2077553 , 0.16985687,
       0.27369162, 0.25213728, 0.26452907, 0.20648161, 0.2284371 ,
       0.21500969, 0.31490046, 0.21572279, 0.27366586, 0.19685722,
       0.28900859, 0.28073171, 0.40623272, 0.2065618 , 0.31955806,
       0.26521365, 0.2584638 , 0.22645057, 0.24259198, 0.19363827,
       0.29891258, 0.31179682, 0.23365427, 0.23503192, 0.35848274,
       0.19914517, 0.22440185, 0.30050017, 0.20886662, 0.24475013,
       0.19952388, 0.24075635, 0.33712491, 0.27715964, 0.249598  ,
       0.24579376, 0.32646362, 0.22043853, 0.22716338, 0.21606029,
       0.25239594, 0.17819844, 0.19806791, 0.32078259, 0.15351972,
       0.19602459, 0.26696445, 0.27967496, 0.30990203, 0.2490918 ,
       0.30524998, 0.19793218, 0.26772331, 0.24163271, 0.25421421,
       0.26618055, 0.20281644, 0.20160492, 0.22743742, 0.3779964 ,
       0.18941947, 0.15095299, 0.24154158, 0.23888241, 0.25289048,
       0.31037989, 0.15113339, 0.1954739 , 0.21015898, 0.38171184,
       0.15921335, 0.16472025, 0.24927832, 0.25268797, 0.22274978,
       0.25716775, 0.20062204, 0.20529522, 0.2162342 , 0.25213412,
       0.27073492, 0.16444174, 0.24827188, 0.33689047, 0.18930617,
       0.19620816, 0.18776424, 0.18517783, 0.16196048, 0.27111857,
       0.20646128, 0.31765842, 0.15278547, 0.21597528, 0.23561973,
       0.2119035 , 0.22028541, 0.20312584, 0.19637336, 0.17343702,
       0.25245416, 0.17783762, 0.19584103, 0.19068392, 0.24259198])